html {
	font-size: 62.5%; //10px, html base font size is 16px
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	font-family: "Open Sans", sans-serif;
	color: #808080;

	a,
	button {
		cursor: pointer;
	}
}
